streamlit==1.37.1

google-genai==1.16.1

pinecone==5.4.2
langchain-pinecone==0.2.0

langchain-google-genai==2.0.10
langchain==0.3.7

python-dotenv==1.0.1

mysql-connector-python==9.0.0

pandas==2.2.2
numpy==1.26.4
tqdm==4.66.5

protobuf>=4.25.3,<6